<!DOCTYPE html>
<html>
    <head>
        <title>
            Blog App
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />

    </head>
    <body>
        

     <!-- nav -->
    
        <div class="ui inverted menu">
            <div class="ui container">
                <a class="header item">
                    <i class="pencil alternate icon"></i>
                    Home
                  </a>
                  <a class="item">
                    Messages
                  </a>
                  <a class="item">
                    Friends
                  </a>
                  <div class="right menu">
                    <div class="item">
                      <div class="ui icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                      </div>
                    </div>
                    <a class="ui item">
                      Logout
                    </a>
                  </div>
            </div>
          </div>